@import "mixin.scss";

/* 响应 */
@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1199px) {

    body,
    html {
        width: 100%;
    }

    body {
        /* padding: 0 1%; */
    }

    .center {
        width: 100%;
        margin: 0;
        padding: 0 15px;
    }

}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}