@import "mixin.scss";




/********************************* header STRAT ********************************/

.header {
    background-color: #ffffff;

    .head_top {
        height: 120px;

        .name {
            .cn {
                font-size: 30px;
                line-height: 30px;
                letter-spacing: 1px;
                color: #172029;
                margin-bottom: 10px;
            }

            .en {
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 0;
                color: #666666;
            }
        }

        .head_search {
            position: relative;
            width: 20%;

            input {
                width: 100%;
                height: 36px;
                border-radius: 18px;
                border: solid 1px #e5e5e5;
                font-size: 12px;
                line-height: 35px;
                letter-spacing: 1px;
                color: #999999;
                padding-left: 15px;
                padding-right: 45px;
                @include placeholderColor(#999999);

            }

            .btn {
                position: absolute;
                right: 15px;
                cursor: pointer;
                top: 12px;
                color: #999999;
            }

            &::after {
                content: " ";
                position: absolute;
                right: 40px;
                width: 1px;
                height: 12px;
                top: 50%;
                background-color: #dcdcdc;
                @include translateNum(0, -50%, 0);
            }
        }

        .head_tel {

            .icon {
                width: 42px;
                height: 42px;
                border: solid 1px #d2d2d2;
                border-radius: 50%;
                line-height: 42px;
                text-align: center;
                margin-right: 30px;

                .iconfont {
                    color: #d2d2d2;
                    font-size: 23px;
                }
            }

            .txt {
                p {
                    line-height: 14px;
                    letter-spacing: 0;
                    color: #666666;
                    @include flex;
                    @include flex_column_center;

                    a {
                        font-size: 18px;
                        line-height: 18px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        color: #464646;
                    }

                    &:nth-of-type(2) {
                        a {
                            margin: 10px 0;

                        }

                    }
                }
            }
        }
    }

    .head_monu {
        height: 50px;
        background-color: $color;

        .black {
            width: (1200/6)/1200*100%;
            color: #ffffff;
            font-size: 16px;
            line-height: 50px;
            text-align: center;
            border-left: 1px solid #044fa2;
            border-right: 1px solid #044fa2;
            box-shadow: -2px 0 0 0 #2c7dd6 inset;
            @include transition(all, 0.3s);

            &:nth-of-type(1) {
                box-shadow: -2px 0 0 0 #2c7dd6 inset,
                    -2px 0 0 0 #2c7dd6;
            }

            &:hover {
                box-shadow: none;
                background-color: #044fa2;
            }

            &.active {
                box-shadow: none;
                background-color: #044fa2;
            }
        }
    }

    .mobile_monu {
        display: none;
        overflow-y: hidden;

        .top {
            background-color: $color;
            padding: 0 2%;
            height: 50px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;

            .title {
                font-size: 18px;
                color: #ffffff;
            }

            .hamburger {
                .line {
                    &:nth-of-type(2) {
                        margin: 5px 0;
                    }
                }
            }
        }

        .mobile_mask {
            height: 100%;
            position: fixed;
            width: 100%;
            background-color: rgba($black_color, $alpha: 0.4);
            z-index: 999;
            padding-top: 50px;
            height: 0;
            overflow-x: hidden;
            @include transition(all, 0.5s);

            &.active {
                height: 100%;
            }

            >ul {
                border-top: 1px solid;
                box-shadow: 0 1px 0 0 red inset;
            }

            li {
                background-color: $color;

                a {
                    border-bottom: 1px solid rgba($white_color, $alpha: 0.3);
                    font-size: 16px;
                    margin: 0 5%;
                    padding: 15px 0;
                    line-height: 16px;
                    color: #ffffff;

                    .iconfont {
                        @include transition(all, 0.3s);
                    }
                }

                &.active {
                    a {
                        .iconfont {
                            @include transformRotateZ(90deg);
                        }
                    }
                }
            }

            .mobile_secondary {
                display: none;
                overflow: hidden;
                background-color: #1F6CA2;

                li {
                    background-color: #1F6CA2;
                    font-size: 14px;
                }
            }

            .mobile_search {
                background-color: $color;
                height: 60px;
                position: relative;

                input {
                    border: 1px solid rgba($white_color, $alpha: 0.3);
                    border-radius: 25px;
                    line-height: 36px;
                    width: 90%;
                    margin: 0 auto;
                    color: #ffffff;
                    @include placeholderColor(#ffffff);
                    padding-left: 15px;
                    padding-right: 35px;

                }

                .iconfont {
                    position: absolute;
                    right: 10%;
                    color: #ffffff;
                    font-size: 18px;
                    top: 50%;
                    @include translateNum(0, -50%, 0);
                }
            }
        }
    }
}

/********************************* header END ********************************/




/********************************* footer STRAT ********************************/

.footer {
    background-color: #224f80;

    .footer_top {
        padding: 60px 0 40px;
        border-bottom: 1px solid rgba($white_color, $alpha: 0.1);

        .black {
            margin-right: 5%;

            .title {
                font-size: $fontSize;
                line-height: $fontSize;
                letter-spacing: 0px;
                color: #ffffff;
                margin-bottom: 10px;
            }

            .content {
                li {
                    line-height: 32px;
                    letter-spacing: 0px;
                    color: #ffffff;
                    opacity: 0.7;
                    @include transition(all, 0.3s);

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &:nth-of-type(4) {
                margin-right: 0;
            }
        }

        .about {
            @extend .black;
            margin-right: 40px;

            .icon {
                margin-top: 20px;

                .iconfont {
                    float: left;
                    font-size: 24px;
                    color: #ffffff;
                    cursor: pointer;
                    @include transition(all, 0.3s);

                    &:hover {
                        color: #fb5555;
                    }

                    &:nth-of-type(2) {
                        margin: 0 15px;
                    }
                }
            }
        }

        .foot_weixin {
            .img {
                .picture_container {
                    padding-top: 100%;
                    width: 120px;
                }
            }

            .txt {
                margin-top: 15px;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 0.5;
                text-align: center;
            }
        }
    }

    .footer_bottom {
        height: 70px;
        color: #ffffff;
        opacity: 0.5;
        line-height: 70px;

        .gongwnag {
            margin-left: 15px;

            img {
                margin-right: 5px;
            }
        }

        .icon {
            float: left;
            height: 70px;
            margin-right: 10px;
        }

    }
}

/********************************* footer END ********************************/



/********************************* index STRAT ********************************/

// banner
.index {
    .index_banner {
        .picture_container {
            padding-top: 23.43%;

            .index_banner_img_m {
                display: none;
            }
        }

        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            background-image: none;
            background-color: rgba($white_color, $alpha: 0.3);
            border-radius: 50%;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            color: #ffffff;
            font-size: 25px;
            right: 6%;
        }

        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            background-image: none;
            background-color: rgba($white_color, $alpha: 0.3);
            border-radius: 50%;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            color: #ffffff;
            font-size: 25px;
            left: 6%;
        }

        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            opacity: 1;
        }

        .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            border: solid 2px #ffffff;
            background-color: rgba($white_color, $alpha: 0);
            border-radius: 50%;
            opacity: 1;
            margin: 0 7px;
        }

        .swiper-pagination-bullet-active {
            background-color: rgba($white_color, $alpha: 1);
        }
    }

    .main1 {
        padding: 50px 0 60px;
        overflow: hidden;

        .top {
            margin-bottom: 60px;

            .left {
                width: 41%;
                padding-bottom: 25px;
                border-bottom: 1px solid rgba($black_color, $alpha: 0.1);

                .img {
                    background-color: #c7c7c7;
                    box-shadow: 3px 4px 10px 0px rgba(31, 108, 193, 0.1);
                    border: solid 10px #ffffff;

                    .picture_container {
                        padding: 35%;
                    }
                }

                .txt {
                    .title {
                        font-size: 18px;
                        line-height: 18px;
                        letter-spacing: 1px;
                        color: #424242;
                        margin-top: 25px;
                        @include transition(all, 0.3s);

                        &:hover {
                            color: $color;
                        }
                    }

                    .time {
                        line-height: 14px;
                        letter-spacing: 1px;
                        color: #999999;
                        margin: 18px 0 10px;
                    }

                    .abstract {
                        letter-spacing: 1px;
                        color: #888888;
                        @include muchText(2, 22px, 0);
                    }
                }
            }

            .right {
                width: 54%;

                .black {
                    &.two {
                        margin-top: 30px;

                        .title {
                            .cn {
                                color: #333333;
                            }
                        }
                    }
                }

                .title {
                    position: relative;
                    padding-bottom: 18px;
                    margin-bottom: 30px;
                    border-bottom: 3px solid #f5f5f5;

                    span {
                        margin: 0 5px;
                        font-size: 18px;
                        line-height: 18px;
                        letter-spacing: 1px;
                        color: #c9c9c9;
                    }

                    .cn {
                        font-size: 24px;
                        line-height: 24px;
                        letter-spacing: 1px;
                        color: #1f6cc1;
                    }

                    .en {
                        font-size: 18px;
                        line-height: 18px;
                        letter-spacing: 1px;
                        color: #bbbbbb;
                    }

                    .more {
                        line-height: 14px;
                        letter-spacing: 1px;
                        color: #999999;

                        .iconfont {
                            font-size: 14px;
                        }

                        &:hover {
                            color: #3879c1;
                        }
                    }

                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 8%;
                        height: 3px;
                        background-color: #3879c1;
                    }
                }

                .content {
                    a {
                        margin-bottom: 23px;

                        &:nth-last-of-type(1) {
                            margin-bottom: 0;
                        }
                    }

                    .article {
                        @include transition(all, 0.3s);

                        .iconyuandian {
                            font-size: 12px;
                            color: #cccccc;
                            line-height: 11px;
                            margin-right: 15px;
                            @include transition(all, 0.3s);
                        }

                        .name {
                            line-height: 14px;

                            .txt {
                                max-width: 70%;
                                @include muchText(1, 14px, 0);
                            }
                        }

                        .new {
                            color: #fe6603;
                            margin-left: 10px;
                        }

                        .time {
                            color: #999999;
                            line-height: 14px;
                        }

                        &:hover {
                            color: #2476d0;

                            .iconyuandian {
                                color: #3879c1;
                            }
                        }
                    }
                }
            }
        }

        .query {
            .black1 {
                width: 48%;
                height: 230px;
                background-image: url(../images/public/index_urlimg01.jpg);
                position: relative;

                .txt {
                    position: absolute;
                    top: 35%;
                    right: 40px;

                    .title {
                        font-size: 24px;
                        line-height: 24px;
                        letter-spacing: 1px;
                        color: #ffffff;
                        margin-bottom: 25px;
                    }

                    a {
                        width: 98px;
                        height: 30px;
                        border-radius: 15px;
                        border: solid 1px #ffffff;
                        opacity: 0.7;
                        line-height: 30px;
                        text-align: center;
                        color: #ffffff;
                        @include transition(all, 0.3s);

                        span {
                            @include transition(all, 0.3s);
                            margin-left: 5px;
                            display: inline-block;

                        }

                        &:hover {
                            opacity: 1;

                            span {
                                @include translateNum(5px, 0, 0);
                            }
                        }
                    }
                }
            }

            .black2 {
                @extend .black1;
                background-image: url(../images/public/index_urlimg02.jpg);
            }
        }
    }

    .main2 {

        padding: 45px 0 60px;
        overflow: hidden;

        .secondary_title {
            position: relative;
            padding-bottom: 18px;
            margin-bottom: 30px;
            border-bottom: 3px solid #f0f0f0;

            span {
                margin: 0 5px;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 1px;
                color: #c9c9c9;
            }

            .cn {
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 1px;
                color: #333333;
            }

            .en {
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 1px;
                color: #bbbbbb;
            }

            .more {
                line-height: 14px;
                letter-spacing: 1px;
                color: #999999;

                .iconfont {
                    font-size: 14px;
                }

                &:hover {
                    color: #3879c1;
                }
            }

            &::after {
                content: " ";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 8%;
                height: 3px;
                background-color: #3879c1;
            }
        }

        .content {
            .black {
                width: (380/1920)*100%;
                background-color: #ffffff;

                .picture_container {
                    padding-top: 67%;
                }

                .title {
                    text-align: center;
                    margin: 25px 0;
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: #555555;
                }
            }
        }
    }

    .main3 {
        padding: 50px 0 30px;
        overflow: hidden;

        .top {
            .left {
                width: 61%;

                .title {
                    position: relative;
                    padding-bottom: 18px;
                    margin-bottom: 30px;
                    border-bottom: 3px solid #f5f5f5;

                    .cn {
                        font-size: 24px;
                        line-height: 24px;
                        letter-spacing: 1px;
                        color: #333333;
                        position: relative;

                        &:nth-of-type(1) {
                            margin-right: 30px;
                        }

                        @include transition(all, 0.3s);

                        &::after {
                            content: " ";
                            position: absolute;
                            bottom: -21px;
                            left: 50%;
                            width: 0;
                            height: 3px;
                            background-color: #3879c1;
                            @include transition(all, 0.3s);
                        }

                        &.active {
                            color: #044fa2;

                            &::after {
                                width: 100%;
                                left: 0;
                            }

                        }
                    }

                    .more {
                        line-height: 14px;
                        letter-spacing: 1px;
                        color: #999999;

                        .iconfont {
                            font-size: 14px;
                        }

                        &:hover {
                            color: #3879c1;
                        }
                    }
                }

                .content {
                    .black {
                        .about {
                            position: relative;

                            .index_about_bg_m {
                                display: none;
                            }

                            .picture_container {
                                padding-top: 93%;
                                z-index: 1;
                                position: relative;
                            }

                            .txt {
                                padding: 9% 7% 0;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                z-index: 2;

                                .name {
                                    font-size: 24px;
                                    line-height: 24px;
                                    letter-spacing: 0px;
                                    color: #4b4e53;
                                    margin-bottom: 23px;
                                }

                                .abstract {
                                    font-size: 16px;
                                    line-height: 30px;
                                    letter-spacing: 0px;
                                    color: #646a72;
                                    margin-bottom: 30px;
                                }

                                .btn {
                                    width: 169px;
                                    height: 47px;
                                    background-color: #1f6cc1;
                                    border-radius: 3px;
                                    text-align: center;
                                    line-height: 47px;
                                    font-size: 16px;
                                    color: #ffffff;

                                    .iconfont {
                                        font-size: 16px;
                                        color: #ffffff;
                                        margin-left: 10px;
                                        @include transition(all, 0.3s);
                                    }

                                    &:hover {
                                        .iconfont {
                                            @include translateNum(50%, 0, 0);
                                        }
                                    }
                                }
                            }

                        }

                        .honor {
                            .swiper-slide {
                                height: 49%;
                            }

                            .honor_black {
                                // width: 30%;
                                margin-bottom: 10px;

                                .picture_container {
                                    border: 1px solid #eeeeee;
                                    padding-top: 130%;
                                }

                                p {
                                    text-align: center;
                                    margin-top: 10px;
                                    padding: 0 15px;
                                    @include oneText;
                                    color: #424242;
                                }
                            }
                        }
                    }
                }
            }

            .left_m {
                display: none;
            }

            .right {
                width: 34%;

                .title {
                    position: relative;
                    padding-bottom: 18px;
                    margin-bottom: 30px;
                    border-bottom: 3px solid #f5f5f5;

                    span {
                        margin: 0 5px;
                        font-size: 18px;
                        line-height: 18px;
                        letter-spacing: 1px;
                        color: #c9c9c9;
                    }

                    .cn {
                        font-size: 24px;
                        line-height: 24px;
                        letter-spacing: 1px;
                        color: #333333;
                    }

                    .en {
                        font-size: 18px;
                        line-height: 18px;
                        letter-spacing: 1px;
                        color: #bbbbbb;
                    }

                    .more {
                        line-height: 14px;
                        letter-spacing: 1px;
                        color: #999999;

                        .iconfont {
                            font-size: 14px;
                        }

                        &:hover {
                            color: #3879c1;
                        }
                    }

                    &::after {
                        content: " ";
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 12%;
                        height: 3px;
                        background-color: #3879c1;
                    }
                }

                .content {
                    .line {
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        line-height: 14px;
                        border-bottom: 1px dashed #dcdcdc;
                        color: #555555;
                        @include transition(all, 0.3s);
                        padding-right: 15px;
                        // @include muchText(1,14px,0);
                        @include oneText;

                        &:hover {
                            color: #3879c1;
                        }
                    }

                    .advertising {
                        border-radius: 5px;
                        overflow: hidden;

                        // height: 146px;
                        .picture_container {
                            height: 130px;
                        }
                    }
                }
            }
        }

        .bottom {
            margin-top: 30px;
            // height: 80px;
            background-color: #f6f6f6;
            padding: 20px 0 20px 10%;

            .bottom_select {
                width: (240/1200)*100%;
                margin-right: 20px;
                position: relative;
                float: left;

                &:nth-last-of-type(1) {
                    margin-right: 0;
                }

                select {
                    width: 100%;
                    height: 40px;
                    background-color: #ffffff;
                    border: solid 1px #c9d0d9;
                    outline: none;
                    padding-left: 10px;
                    padding-right: 20px;
                    cursor: pointer;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    &::-ms-expand {
                        display: none;
                    }

                    option {
                        outline: none;
                    }
                }

                &::after {
                    content: " ";
                    width: 0;
                    height: 0;
                    border: 5px solid transparent;
                    border-top-color: #424242;
                    position: absolute;
                    right: 10px;
                    top: ((40)/2-2.5)#{px};
                }
            }
        }
    }
}

/********************************* index END ********************************/