@charset "UTF-8";
/* 响应 */
@media screen and (max-width: 1199px) {
  body,
  html {
    width: 100%; }
  body {
    /* padding: 0 1%; */ }
  .center {
    width: 100%;
    margin: 0;
    padding: 0 15px; }
  .index_banner {
    padding-top: 50px; }
  .header .pc {
    display: none; }
  .header .mobile_monu {
    display: block; }
  .footer .footer_top {
    display: none; }
  .footer .footer_bottom {
    height: auto;
    line-height: inherit;
    padding: 15px 0; }
  .footer .footer_bottom .center .fl,
  .footer .footer_bottom .center .fr {
    float: none;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center; }
  .footer .footer_bottom .center .icp {
    margin-bottom: 10px; }
  .footer .footer_bottom .center .gongwnag {
    margin-bottom: 10px; }
  .go_top {
    display: none !important; }
  .footer .footer_bottom .icon {
    display: none; }
  .index .main2 .content .black {
    width: 32.33333%;
    margin-bottom: 20px; } }

@media screen and (max-width: 1024px) {
  .index .main1 .top {
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
  .index .main1 .top .left {
    width: 100%;
    margin-bottom: 30px; }
  .index .main1 .top .right {
    width: 100%; }
  .index .main1 .top .left .img .picture_container img {
    width: 100%; }
  .index .main1 .query {
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
  .index .main1 .query .black1,
  .index .main1 .query .black2 {
    width: 100%; }
  .index .main1 .query .black1 {
    margin-bottom: 30px; }
  .index .main3 .top .left {
    width: 100%;
    margin-bottom: 30px; }
  .index .main3 .top .right {
    width: 100%; }
  .index .main3 .top {
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
  .index .main3 .top .left .title .cn {
    font-size: 20px; }
  .index .main3 .top .right .title .cn {
    font-size: 20px; }
  .index .main3 .top .left .content .black .about .picture_container {
    padding-top: 47.94521%; }
  .index .main3 .top .left .content .black .about .picture_container .index_about_bg_m {
    display: block;
    width: 100%; }
  .index .main3 .top .left .content .black .about .picture_container .index_about_bg_pc {
    display: none; }
  .index .main3 .top .left .content .black .about .txt {
    position: relative;
    padding: 4% 2% 0; }
  .index .main3 .bottom {
    padding-left: 0;
    text-align: center; }
  .index .main3 .bottom .bottom_select {
    display: inline-block;
    float: none;
    width: 30%; }
  .index .main3 .top .left .title .cn:nth-of-type(2) {
    display: none; }
  .index .main3 .top .left_m {
    display: block; } }

@media screen and (max-width: 992px) {
  .index .index_banner .picture_container {
    padding-top: 45.3629%; }
  .index .index_banner .picture_container .index_banner_img_m {
    display: block; }
  .index .index_banner .picture_container .index_banner_img {
    display: none; } }

@media screen and (max-width: 768px) {
  .index .main2 .content .black {
    width: 49%;
    margin-bottom: 15px; }
  .index .main2 .content .black .title {
    margin: 15px 0;
    font-size: 16px; }
  .index .main3 .top .left .title .cn:nth-of-type(1) {
    margin-right: 15px; }
  .index .main1 {
    padding: 30px 0 60px; } }

@media screen and (max-width: 640px) {
  .index .main1 .top .right .title .en, .index .main1 .top .right .title .en, .index .main2 .secondary_title .en {
    display: none; }
  .index .main1 .top .right .title span, .index .main1 .top .right .title span, .index .main2 .secondary_title span {
    display: none; }
  .index .main1 .top .right .title .cn {
    font-size: 20px; }
  .index .main1 .top .right .title span {
    font-size: 16px; }
  .index .main2 .secondary_title .cn {
    font-size: 20px; }
  .index .main2 .secondary_title span {
    font-size: 16px; }
  .index .main3 .bottom .bottom_select {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px; }
  .footer .footer_bottom .center .icp .fl {
    flex: none;
    display: block;
    text-align: center;
    line-height: 36px;
    width: 100%; }
  .index .main3 .top .left .content .black .about .txt .btn {
    width: 100px;
    font-size: 14px;
    height: 40px;
    line-height: 41px; }
  .index .main3 .top .left .content .black .about .txt .btn .iconfont {
    font-size: 14px; }
  .index .index_banner .swiper-button-next,
  .index .index_banner .swiper-container-rtl .swiper-button-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    right: 4%; }
  .index .index_banner .swiper-button-prev,
  .index .index_banner .swiper-container-rtl .swiper-button-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    left: 4%; }
  .index .main2 {
    padding: 40px 0 30px; } }

@media screen and (max-width: 480px) {
  .index .main3 .top .left .content .black .about .txt .name {
    font-size: 20px; } }

@media screen and (max-width: 375px) {
  .index .main3 .top .left .content .black .about .txt .name {
    font-size: 18px; }
  .index .index_banner .swiper-button-next,
  .index .index_banner .swiper-container-rtl .swiper-button-prev {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    right: 4%; }
  .index .index_banner .swiper-button-prev,
  .index .index_banner .swiper-container-rtl .swiper-button-next {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    left: 4%; } }
